*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android/Gradle
.gradle/
build/
local.properties
*.iml
.idea/

# Firebase config
app/google-services.json

# Keystore
*.jks
*.keystore

# Otros
.DS_Store
